# frozen_string_literal: true

require 'specimen'

RSpec.configure do |config|
  config.before(:suite) do
    Specimen.run_testrunner_hooks!
  end

  config.before(:all) do
    @enc_config = Specimen.enc_config
  end
end

at_exit do
  p 'bye bye'
end
