# frozen_string_literal: true

RSpec.describe 'Add numbers specs' do
  context 'add 1 + 1', add_numbers: true do
    before(:example) do
      @result = 1 + 1
    end

    it 'passes', pass: true do
      expect(@result).to eq 2
    end

    it 'fails due to not being an integer', fail: true do
      expect(@result).to eq '2'
    end
  end
end
